main{
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
}
.body-wrapper{
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
}
.title-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.plans{
    background-color: #f9fafb;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding: 5rem;
}
.plans-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}
/* responsive */
@media (min-width: 768px){
    .plans-wrapper{
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
    }
    #active{
        margin-top: -2rem;
    }
}