main{
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
}
.body-wrapper{
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
}
.title-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.our-services{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
    padding: 0 .75rem 5rem .75rem;
}
.services-boxes-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
}
.our-services-title{
    text-align: center;
    color: #1e293b;
}
.our-services-desc{
    text-align: center;
    color: #334155;
}
.plans{
    background-color: #f9fafb;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding: 5rem;
}
.plans-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}
/* responsive */
@media (min-width: 640px){
    .services-boxes-wrapper{
        display: grid;
        grid-template-columns:1fr 1fr;
        column-gap: 4rem;
        padding: 0 1rem;
    }
}
@media (min-width: 768px){
    main{
        row-gap: 10rem;
    }
    .plans-wrapper{
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
    }
    #active{
        margin-top: -2rem;
    }
}