html{
  font-family: 'vazir',sans-serif;
}
@font-face {
  font-family: 'vazir';
  src: local('Vazir'),url(./fonts/Vazir.ttf) format('truetype');
}
@font-face {
  font-family: 'vazir-bold';
  src: local('vazir-bold'),url(./fonts/Vazir-Bold_0.ttf) format('truetype');
}
body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
